.login-form-container {
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 800px;
}
.login-header{
    padding: 20px;
    padding-bottom: 0px;
    font-size: 1.75rem;
}
.login-inputs-container{
    display: flex;
    flex-direction: column;
    padding: 20px;
    padding-top: 10px;
}
.login-input {
    height: 24px;
    margin-bottom: 5%;
    width: 96%;
}
.login-buttons-container{
    padding: 20px;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
}
.login-form-button {
    background-color: #18A582;
    height: 24px;
    border-radius: 5px;
    color: white;
    border: 0 solid;
    margin-bottom: 5%;
}
