.left-side-nav-bar-container{
    display: flex;
    flex-direction: column;
    margin-top: 18.720px;
    width: 20%;
    display: flex;
    margin-left: 10%;
    padding-right: 1%;

}
.dashboard-all-expenses-links-container{
    /* height: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.left-nav-link-container{
    margin-top: 2%;
    margin-bottom: 2%;
    height: 1.5em;
    width: 100%;
    display: flex;
    align-items: center;
}
.left-nav-link-container:hover {
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    background-color: lightgray;
}
.left-navbar-link {
    width: 100%;
    color: rgb(145, 145, 153) !important
}
.left-navbar-link-active{
    width: 100%;
    color: #5bc5a7 !important;
    padding-left: 4px;
    border-left: 5px solid #5bc5a7;
  }
