.friends-list-and-header-container{
    padding-top: 6%;
}
.friends-label{
    font-size: 12px;
}
.friends-list-container{
    padding-top: 6%;
}

.friends-header-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 3%;
    border-bottom: 1px solid rgb(145, 145, 153);
}
