.transaction-details-wrapper{
    display: flex;
    flex-direction: column;
    margin: 3%;
}
.transaction-details-header{
    border-bottom: 1px solid rgb(145, 145, 153);
    padding-bottom: 3%;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.transaction-details-header-info{
    margin-left: 2%;
}
.transaction-details-body-wrapper{
    padding-top: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}
.left-column-wrapper{
    width: 48%;
}
.right-column-wrapper{
    width: 48%;
}
.transaction-detail-profile-picture{
    height: 38px;
    width: 38px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 8px;
    margin-top: -2px;
}
.transaction-detail-person-container{
    display: flex;
    align-items: center;
    margin-top: .5em;
}
.transaction-details-person-information{
    font-size: 14px;
}
